/* main css file */
<<<<<<< HEAD
=======

>>>>>>> click-handler-redo

/******************
	SHOPPING CART
******************/
.shopping-cart {
	background-color: gray;
	padding: 30px;
	margin: 0 0 30px;
	border-radius: 5px;
	border-bottom: 5px solid #BBB;
	position: relative;
	/*overflow-x: scroll;
	overflow-y: auto;*/
}

.shopping-cart-collapse {
	position: absolute;
	bottom: -17px;
	left: 0%;
	right: 0%;
	width: 40px;
	margin: 0 auto;
	background-color: white;
	color: #888;
	border: 3px solid #888;
	border-radius: 10%;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.cart-item {
	position: relative;
}

.cart-item .caption {
	height: auto;
}

button .cart-item-close {
	position: absolute;
	top: -5px;
	right: 5px;
	width: 40px;
	height: 40px;
	background-color: red;
	color: white;
	border: 5px solid black;
	border-radius: 50%;
	padding: 5px 10px 10px;
	text-align: center;
	font-weight: bold;
}

.shopping-cart-collapse img{
	width: 100%;
}

.hidden{
	visibility: hidden;
}

.shopping-cart .lead{
	color:white;
	float:left;
	padding-right: 3%;
}

.shopping-cart .button{
	display:inline;
	float: right;
}

/******************
	CAROUSEL
******************/

div.carousel-inner {
	height: 300px;
}

/******************
  PRODUCT DISPLAY
******************/
.prodIndex{
	display: none;
}

/******************
	THUMBNAILS
******************/


.thumbnail img {
	width: auto;
	height: 150px;
}

.overlay {
	display: none;
}

.prodDisplay:hover .overlay {
	opacity: 1;
}

.overlay button:focus {
	border-color: #2e6da4;
}